{{ define "main" }}

{{ with .Params.carousel }}
{{ partial "carousel/carousel-wrapper-header.html" (dict "id" "myCarousel" "interval" "6000" "numBullets" (len .) ) }}

<!------- ITEMS -------->
  {{range .}}
    {{ partial "carousel/carousel-item.html" (dict "isActive" .active ".Class" "first-slide" "title" .title "description" .text "image" .imageCarousel) }}
  {{ end }}
<!--- END ITEMS --->

{{ partial "carousel/carousel-wrapper-footer.html" . }}

{{ end }}
  {{ if eq .Params.showTitle "true" }}
    <h2 class="featurette-heading">{{ .Title }}</h2>
  {{end}}

  <div class="row content">
    <div class="col-md-6">
      <p>{{ .Content }}</p>
    </div>
    <div class="col-md-3 gallery">
      {{ with .Params.gallery }}

        {{range .}}
          {{ partial "gallery/gallery-item.html" (dict "title" .title  "image" .image "thumb" .thumb) }}
        {{end}}

      {{end}}
  
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-e6d40e92-2bad-4c5a-8ae5-9acb082f0e5c"></div>
    </div>
    
    <h4>Older reviews</h4>
    <div class="col-md-12">
      {{partial "info/guestbook.html"}}
    </div>
  </div>

  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>



{{ end }}
