/* Generic Selectors */ 


p { 
    width: 560px; 
    font-family: "Fontin", "Century gothic", "Tw Cen MT", "Trebuchet MS", Calibri, Arial; 
    font-size: 10px; 
    color: "black";
    text-decoration: none;
    position: center;
} 

li { 
    list-style-type: none; 
    line-height: 150%; 
    list-style-image: url(../images/arrowSmall.gif); 
} 

h1 { 
    font-family: "Fontin", "Century gothic", "Tw Cen MT", "Trebuchet MS", Calibri, Arial; 
    font-size: 38px; 
    font-weight: bold; 
    color: #660000; 
} 

h2 { 
    font-family: "Fontin", "Century gothic", "Tw Cen MT", "Trebuchet MS", Calibri, Arial; 
    font-size: 18px; 
    font-weight: bold; 
    color: #003300; 
} 

h3 { 
    font-family: "Fontin", "Century gothic", "Tw Cen MT", "Trebuchet MS", Calibri, Arial; 
    font-size: 18px; 
    font-weight: bold; 
    color: #0099FF; 
} 

h4 { 
    font-family: "Fontin", "Century gothic", "Tw Cen MT", "Trebuchet MS", Calibri, Arial; 
    font-size: 14px; 
    font-weight: bold; 
    color: #660000; 
} 

h5 { 
    font-family: "Fontin", "Century gothic", "Tw Cen MT", "Trebuchet MS", Calibri, Arial; 
    font-size: 14px; 
    font-weight: bold; 
    color: #660000; 
}


h6 { 
/*    font-family: "Fontin", "Century gothic", "Tw Cen MT", "Trebuchet MS", Calibri, Arial; */
    width: 90%;
    font-size: 14px;
    color: #660000; 
    text-align:justify;
}

footer1 { 
    font-family: "Fontin", "Century gothic", "Tw Cen MT", "Trebuchet MS", Calibri, Arial; 
    width: 90%;
    font-size: 12px; 
    color: #660000; 
    text-align:center;
}
/**************** Pseudo classes ****************/ 

a:link { 
    color: #00aa00; 
    text-decoration: none; 
    font-weight: bold; 
} 

li :link { 
    color: #00aa00; 
    text-decoration: none; 
    font-weight: bold; 
} 

a:visited { 
    color: #00aa00; 
    text-decoration: none; 
    font-weight: bold; 
} 

li a:visited { 
    color: #0000aa; 
    text-decoration: none; 
    font-weight: bold; 
} 

a:hover { 
    color: #000aa; 
    padding-bottom: 5px; 
    font-weight: bold; 
    text-decoration: none; 
} 

li a:hover { 
    display: block; 
    color: #0000aa; 
    padding-bottom: 5px; 
    font-weight: bold; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #C6EC8C; 
} 

a:active { 
    color: yellow; 
    font-weight: bold; 
} 

/************************* ID's *************************/ 

body { 
    text-align: center;
    background-image: url(graphics/bg.png); 
    background-repeat: repeat-y; repeat; 
    background-position: center top;
    margin:auto;
    align:center;
} 

#navigation { 
    position: absolute;
    background-image: url(graphics/box.png); 
    background-repeat: no-repeat; 
    background-position: left top;
    font-weight: normal; 
    width: 300px; 
    height: 900px; 
    margin-left:-575px;
    margin-top:150px;
    padding: 100 45 100px 70px; /*top right bottom left*/ 
    text-align:left;
} 

#logo { 
    position: absolute;
    background-image: url(graphics/ban5.png); 
    background-repeat: no-repeat; 
    background-position: center top; 
    width:800px;
    height:300px;
    margin-left:-400px;
} 

#right { 
    position: absolute;
    background-image: url(graphics/box.png); 
    background-repeat: no-repeat; 
    background-position: left top;
    font-weight: normal; 
    width: 300px; 
    height: 900px; 
    margin-left:260px;
    margin-top:150px;
    padding: 100 45 100px 70px; /*top right bottom left*/ 
    text-align:left;
} 

#centerDoc {
    position: absolute;
    width:574px;
    margin-left:-285px;
    margin-top:200px;
} 

#wrap {
    min-height: 100%;
    height: auto !important;
    text-align:center;
    margin:auto;
    align:center;
    width:1004px;
}

a img {
    border: 1px solid #BBB;
    padding: 2px;
    margin: 5px 5px 1px 0;
    vertical-align: top;
}

