<script>
    accom_id="272";
    jQuery(document).ready(function() {
        jQuery.ajax( {
            url      : "https://www.devonfarms.co.uk/availability-chart-outer.php?accom_id="+accom_id+"&refer=farmwebsite",
            dataType : "text",
            success  : function(data) {
                data = data.replace(/\$/g,'jQuery');
                jQuery("#booking-system").html(data);
            },
            error    : function(data) {
                jQuery("#booking-system").html(data);
            }
        });
    });
</script>
<div id="booking-system"></div>
