<div class="container marketing">

  <!---- FEATURETTE ------>
  {{$title := "Welcome to Hawley Farm"}}
  {{$description := "Nestled in the beautiful English countryside, our barn conversion is the perfect choice if you´re looking for relaxing farm holidays in East Devon. With picturesque views of the countryside and plenty of places of interest to visit in the local area. Farm lets can be a fantastic choice for all of the family."}}
  {{$image := "./images/photos/000_0075.jpg"}}
  {{$extraImage := "./images/badges/AA-Four-Stars.jpg" }}

  {{ partial "featurette/featurette.html" (dict "title" $title "description" $description "image" $image "extraImage" $extraImage) }}
  <!---- END FEATURETTE ------>

  <!---- FEATURETTE ------>
  {{$title := "A holiday with farm experience"}}
  {{$description := "If you've never considered a farm holiday, let us give you an idea of what to expect. Scattered on our fields are our cows, young stock and sheep; if you are interested to see the milking and see the animals at close hand, we can arrange a guided farm tour for you. You can also meander through the Blackdown Hills where you can spot all sorts of wildlife, there are many footpaths right from your door. Visit one of the many historical and cultural sights of East Devon or stay on the farm where you can learn all about our dairy, milk and beef farming over a cake and a cup of tea."}}
  {{$image := "./images/photos/1002196_crop.JPG"}}

  {{ partial "featurette/featurette.html" (dict "title" $title "description" $description "image" $image "invert" "true") }}
  <!---- END FEATURETTE ------>

  <!---- FEATURETTE ------>
  {{$title := "Luxury living"}}
  {{$description := "Our newly renovated farm lets mean you can go back to nature without abandoning your home comforts. Catering for 4-6 people, we are an ideal family destination, but can also be a tranquil getaway for groups, friends and colleagues. Please browse our website for more information and we look forward to greeting you at Hawley Farm soon! Graham and Pamela. P.S. see 3D tours of the [Cider Press](https://my.matterport.com/show/?m=PFyRT2X5moe) and the [Wagon House](https://my.matterport.com/show/?m=PsNbMG1tgPD)"}}
  {{$image := "./images/photos/wagon_house_blue_sky.jpg"}}
  {{$extraImage := "./images/badges/AA-Four-Stars.jpg"}}

  {{ partial "featurette/featurette.html" (dict "title" $title "description" $description "image" $image ) }}

  <!---- END FEATURETTE ------>

</div>
