<footer class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li class="pull-right"><a href="#top">Back to top</a></li>
        <li><a href="index.html">Home</a></li>
        <li><a href="ciderpress.html">Cider Press</a></li>
        <li><a href="wagonhouse.html">Wagon House</a></li>
        <li><a href="stables.html">Stables</a></li>
        <li><a href="camping.html">Caravaning and Camping</a></li>
        <li><a href="whenandwhere.html">When and Where</a></li>
        <li><a href="findus.html">Find us</a></li>
        <li><a href="book.html">Book</a></li>
        <li><a href="guestbook.html">Reviews</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
