<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-hawley" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-hawley">
          <ul class="nav navbar-nav">
            {{ $currentPage := . }}

            {{ range .Site.Menus.main }}
            {{ $active := "" }}
            {{ $isMenu := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            {{ if or $isMenu (eq $currentPage.Title .Name) }}
              {{ $active = "active" }}
            {{ end }}

                {{ if .HasChildren }}
                {{ range .Children }}
                  {{ if or $isMenu (eq $currentPage.Title .Name) }}
                    {{ $active = "active" }}
                  {{ end }}
                {{ end }}
                <li class="dropdown {{$active}}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{.Name}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {{ range .Children }}

                    <li><a href="{{.URL}}">{{ .Name }}</a></li>
                    {{ end }}
                  </ul>
                </li>

                {{ else }}
                  <li class="children {{$active}}"><a href="{{.URL}}">{{.Name}}</a></li>
                {{end}}
              {{end}}

          </ul>

          <ul class="nav navbar-nav navbar-right social">
            <li class="badge-aa"><img border="0" src="{{.Site.BaseURL}}images/badges/AA-Four-Stars.jpg" alt="AA Logo" ></li>
            <li><a target="_blank" href="https://www.facebook.com/Hawley-Farm-self-catering-accommodation-234328046697977"><i class="fa fa-facebook-square fa-lg"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle fa fa-tripadvisor fa-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a target="_blank" href="https://www.tripadvisor.co.uk/VacationRentalReview-g2099835-d7131341-Hawley_Farm_Holiday_cottages_The_Cider_Press-Dalwood_Devon_England.html">Trip Advisor - Cider Press</a></li>
                <li><a target="_blank" href="https://www.tripadvisor.co.uk/VacationRentalReview-g2099835-d7182575-Hawley_Farm_Cottages_The_Wagon_House-Dalwood_Devon_England.html">Trip Advisor - Wagon House</a></li>
                <li><a target="_blank" href="https://www.tripadvisor.co.uk/VacationRentalReview-g2099835-d14056874-The_Stables_at_Hawley_farm_Dalwood_East_Devon_Close_to_the_Jurassic_coast-Dalwood_De.html">Trip Advisor - Stables</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  </div>

</div>
