<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "LodgingBusiness",
	"name": "Hawley Farm Holiday Lets",
	"description": "Self Catering Accommodation in Peaceful Countryside Farm setting near Lyme Regis in East Devon. Close to the Jurassic Coast, in Gorgeous Countryside. Three spacious, warm and comfortable barn conversions",
	"image": "https://www.hawleyfarm.co.uk/images/photos/20180420_121256-EFFECTS_squash.jpg",
	"url": "https://www.hawleyfarm.co.uk",
	"telephone": "+4414040831250",
	"sameAs": ["https://www.facebook.com/Hawley-Farm-self-catering-accommodation-234328046697977","https://www.instagram.com/hawley_farm_"],
	"address": {
		"@type": "PostalAddress",
		"streetAddress": "Hawley Farm, Dalwood",
		"addressLocality": "Axminster",
		"postalCode": "EX13 7HR",
		"addressCountry": "United Kingdom"
	}
}
</script>
