{{ define "main" }}
{{partial "carousel-home.html" . }}

  <div class="index">
    <div class="container marketing">
      {{ with .Params.featurette }}
        {{range .}}
          {{ partial "featurette/featurette.html" (dict "title" .title "description" .text "image" .image "extraImage" .extraImage "invert" .invert) }}
        {{ end }}
      {{ end }}
      </div>

      <hr class="featurette-divider">
      {{ partial "booking_iframe.html" }}
      {{ partial "price_table.html" }}

  </div>

{{ end }}
